<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h1>Create a new list</h1>
    <form method="post" action="/listing">
        <input name="listall[title]" placeholder="enter title" type="text"><br><br>
        <textarea name="listall[description]" placeholder="enter description"></textarea><br><br>
        <input name="listall[image]" placeholder="enter image URK/LINK" type="text"><br><br>
        <input name="listall[price]" placeholder="enter price" type="number"><br><br>
        <input name="listall[country]" placeholder="enter country" type="text"><br><br>
        <input name="listall[location]" placeholder="enter location" type="text"><br><br>
        <button>Add</button>
    </form>
</body>
</html>