<% layout("/layouts/boilerplate") %>
    <br><br>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Create a new list</h1>
    <form method="post" action="/listing" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
                name="listall[title]" 
                placeholder="enter title" 
                type="text"
                class="form-control"
                required
            />
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
                name="listall[description]"
                class="form-control"  required>
            </textarea>
            <div class="invalid-feedback">please enter a short description</div>
        </div>
        <div class="mb-3">
           <label for="image" class="form-label">Image Link</label>
            <input 
                name="listall[image][url]" 
                placeholder="enter image URK/LINK" 
                type="text"
                class="form-control"
            />
        </div>
        <div class="row" >
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input 
                name="listall[price]"
                placeholder="enter price" 
                type="number"
                class="form-control"
                required
            />
            <div class="invalid-feedback">price should be valid</div>
        </div>
        <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
            <input 
                name="listall[country]" 
                placeholder="enter country" 
                type="text"
                class="form-control"
                required
            />
            <div class="invalid-feedback">country name should be valid</div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input 
                name="listall[location]" 
                placeholder="enter location" 
                type="text"
                class="form-control"
                required
            />
            <div class="invalid-feedback">location name should be valid</div>
        </div>
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>
